<% layout('layout/boilerplate') %>

<h6>
  بهشت عدن اگر خواهی بیا با ما به میخانه****** که از پای خمت یکسر به حوض کوثر اندازیم
</h6>

<h5>Söker du paradiset? följa med oss till baren</h5>
<h5>Vi kasta dig direkt från bredvid vin tunen till paradiset</h5> -->

<img
  src="https://newsmedia.tasnimnews.com/Tasnim/Uploaded/Image/1395/10/11/139510110020346009584094.jpg"
  alt=""
/>
