<% layout('layout/boilerplate') %>
<div class="container pt-1 home-block">
  <div class="mt-2">
    <h6 class="text-center mt-1"> 
      بهشت عدن اگر خواهی بیا با ما به میخانه****** که از پای خمت یکسر به حوض
      کوثر اندازیم
    </h6>

    <h5 class="text-center">Söker du paradiset? följa med oss till baren</h5>
    <h5 class="text-center">
      Vi kasta dig direkt från bredvid vin tunen till paradiset
    </h5>
  </div>

  <div class="text-center">
    <img
      src="https://newsmedia.tasnimnews.com/Tasnim/Uploaded/Image/1395/10/11/139510110020346009584094.jpg"
      alt=""
    />
  </div>
</div>
