
<% layout('layout/boilerplate') %> 
  
  <h1>Here you can add new Backeries</h1>
  <form action="/newbacky" method="POST" enctype="multipart/form-data">

    <label for="backerysname">Backery's Name</label> <br/>
  <input type="text" name="backerysname" id="backerysname" placeholder="backerysname"> <br/> <br/>

<label for="ownersName">Owner's Name</label><br/>
  <input type="text" name="ownersName" id="ownersName"> <br><br>

<label for="ownersFamily">Owner's Family</label><br/>
  <input type="text" name="ownersFamily" id="ownersFamily"> <br><br>



  <label for="numberOfPoorPeople">  Average Monthly Incom Per Person</label><br/>
  <input type="number" name="numberOfPoorPeople" id="numberOfPoorPeople"> <br><br>

<label for="averageMonthlyIncomPerPerson">  Average Monthly Incom Per Person</label><br/>
  <input type="number" name="averageMonthlyIncomPerPerson" id="averageMonthlyIncomPerPerson"> <br><br>


<label for="location"> Backerys Location</label><br/>
  <input type="text" name=" location" id="location" placeholder="Copy and paste the backeys Location" > <br><br>

<label for="creator"> Crtator</label><br/>
  <input type="text" name=" creator" id="creator" > <br><br>

<input type="file" name="image" id="">

  


  <button >Add new Backery</button>
  </form>
