<% layout('layout/boilerplate') %>
<h1>Here is place to register</h1>

<form  action="/registerr" method="POST" class="validated-form novalidate ">

  <div class="mb-3">
  <label class="form-label" for="username">User Name</label><br>
  <input class="form-control" type="text" name="username" id="username" required>
  
</div>

<div class="mb-3">
  <label class="form-label" for="email">Email</label><br>
  <input class="form-control" type="email" name="email" id="emal" required>
  
</div>
<div class="mb-3">
  <label class="form-label" for="role">Role</label><br>
  <input class="form-control" type="option" name="role" id="role" >
</div>

<div class="mb-3">
  <label class="form-label" for="password">Password</label><br>
  <input class="form-control" type="password" name="password" id="password" required>
</div>

<button type="submit" class="button-success">Register</button>
</form>