<% layout('layout/boilerplate') %> 
  <h1>User Information</h1>

 <h1>Here is the user page of: <%= user.name %>! </h1>
 Email: <%= user.username %> <br>
 Name: <%= user.name %> <br>
 Role: <%= user.role %> <br>
<br>
 
<% if(currentUser && currentUser.username == user.username ) { %> 


<a href="/newones">Create backery</a> <br/>
<% if(!currentUser.activated) { %> 
<br>
 <h4>You haven't activated your Email yet</h4>
 <h4>Open your Email and activate ur id pls</h4>
<% } %> 
<% } %> 

