<% layout('layout/boilerplate') %> 
  <h1>User Information</h1>

 <h1>Hi <%= user.name %>! welcome here is your email</h1>
 Email: <%= user.email %> <br>
<br>
 
<a href="http://activate/<%= user.id%> ">Activate ur id pls</a> <br/>

<a href="/newones">Create backery</a>


